@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-2 title">Welcome to SpaceX Core!</h1>
    <h1 class="display-4">Rockets</h1>
    <div class="card-list">
        @foreach (var item in ViewBag.rockets)
        {
            <div class="card card-item" style="width: 18rem;">
                <img src="@item.FlickrImages[0]" class="card-img-top card-image" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        }
    </div>
    <h1 class="display-4">Launches</h1>
    <div class="card-list">
        @foreach (var item in ViewBag.launches)
        {
            <div class="card card-item" style="width: 18rem;">
                <img src="..." class="card-img-top card-image" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        }
    </div>

</div>
